// Font Families
$font-engschrift: "Engschrift", sans-serif;
$font-oswald: "Oswald", sans-serif;
$font-roboto: "Roboto", "Helvetica Neue", Arial, sans-serif;
$font-yahei: "Microsoft YaHei", sans-serif;

// Colors
$givi-red: #e00c19;
$black: #000000;
$white: #ffffff;
$gray-1: #333333;
$gray-2: #555555;
$gray-3: #aaaaaa;
$gray-4: #e7e7e7;
$gray-5: #f1f1f1;
$text-black-1: #111111;
$text-black-2: #212529;
$text-black-3: #424141;
$text-black-4: #666666;
$text-black-5: #818080;

// Shadows
$text-shadow-1: 1px 1px 1px rgba(0,0,0,0.1);
$text-shadow-2: 1px 1px 1px rgba(0,0,0,0.2);
$text-shadow-3: 1px 1px 1px rgba(0,0,0,0.3);